.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $navbar-color;
  z-index: 100;
  height: $navbar-height;
  padding: 10px;
  user-select: none;
  @include mq(l) {
    height: $navbar-height-l;
  }
  &__container {
    display: flex;
    height: 100%;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
  }
  &__name {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    @include mq(l) {
      font-size: 2.2rem;
    }
    span {
      letter-spacing: 3px;
      font-weight: normal;
    }
  }
  &__mobile-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    @include mq(l) {
      display: none;
    }
    cursor: pointer;
    .hamburger {
      opacity: 1 !important;
      outline: none;
    }
    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
      background-color: white !important;
    }
  }
  &__desktop {
    display: none;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100%;
    @include mq(l) {
      display: flex;
    }
  }
  &__list {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__item {
    font-size: 2rem;
    padding: 5px 20px;
    cursor: pointer;
    margin: 0 15px;
    transition: color 0.25s ease-in-out;
    &:hover {
      color: $main-font-color;
    }
  }
  &__links {
    position: absolute;
    right: 40px;
    height: 100%;
    ul {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  &__link {
    a {
      display: block;
      color: white;
      font-size: 3rem;
      padding: 5px;
      margin: 0 3px;
    }
  }
}

.navbar-mobile {
  position: fixed;
  top: $navbar-height;
  left: 0;
  width: 100%;
  background-color: $navbar-color;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-in;
  @include mq(l) {
    display: none;
  }
  &.active {
    height: 201px;
  }
  &__list {
    padding-bottom: 10px;
  }
  &__item {
    padding: 10px 20px;
    font-size: 2rem;
    color: white;
    border-bottom: 1px solid white;
    cursor: pointer;
  }
  &__links {
    padding-bottom: 10px;
    ul {
      display: flex;
      justify-content: center;
    }
  }
  &__link {
    font-size: 3rem;
    margin: 0 3px;
    a {
      display: block;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}

.fb {
  transition: color 0.25s ease-in-out;
  &:hover {
    color: #3b5998;
  }
}

.git {
  transition: color 0.25s ease-in-out;
  &:hover {
    color: #bebfc1;
  }
}
