$root-font-size: 10px;
$root-page-width: 1200px;
$font-family: 'Lato', sans-serif;
$special-font: 'Raleway', sans-serif;
$main-font-color: #ff5e00;

$main-color: #2c3e50;
$secondary-color: #34495e;
$navbar-color: #202d3a;
$navbar-height: 60px;
$navbar-height-l: 80px;

$main-sections-padding: 40px;

$breakpoints: (
  s: (
    min-width: 460px,
  ),
  m: (
    min-width: 800px,
  ),
  l: (
    min-width: 1024px,
  ),
  xl: (
    min-width: 1200px,
  ),
);
