* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

@import 'variables';
@import 'mixins';
@import 'navbar';
@import 'head-anim';
@import 'about';

html {
  font-size: $root-font-size;
  font-family: $font-family;
}

body {
  padding-top: $navbar-height;
  @include mq(l) {
    padding-top: $navbar-height-l;
  }
}

.orange {
  color: $main-font-color;
}
